AWS_REGION=us-east-2
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AGI1_STATE_TABLE=agi1_state_store
AGI1_STATE_BUCKET=agi1-artifacts-fairgroup
AGI1_STATE_PREFIX=staging
ONE_MIND_ENV=staging
ONE_MIND_TOKEN_SECRET=
ONE_MIND_HANDSHAKE_SECRET=
OPENCLAW_CALL_PROVIDER=mock
PUBLIC_API_BASE_URL=http://18.227.183.151:8080
WS_BASE_URL=ws://18.227.183.151:8080
WAR_ROOM_API_KEY=
WAR_ROOM_WEBHOOK_SECRET=
RAILWAY_API_KEY=
RENDER_API_KEY=
